<!-- Header styling -->
div {
  border: 1px solid black;
}
header {
  display: flex;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  justify-content: space-between;
  z-index: 5;
  position: fixed;
}

.logo {
  color: mediumaquamarine;
  display: flex;
  align-items: center;
  margin-left: 30px;
}
logo span {
  margin-left: 10px;
}
nav {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
nav span {
  display: inline-block;
  padding: 15px;
}
a {
  color: black;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  margin-top: 16px;
}


  .firstcolumn {
     width: 630px;
     display: flex;
     flex-direction: column;

  }
  .main.image {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
    width: 630px;
    height: auto;
    background-size: cover;
    display: flex;

  }
  .image-caption {
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
  }
  .fallpic {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  }
  .camerapic {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  }

.secondcolumn {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.catpic {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}


.thirdcolumn {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.news-bites {
  display: block;
}

.bite {
  display: block;
  margin: 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  color: DimGray;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  padding: 11px 20px;
}
